{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>namecie</title>
</head>

<body>

    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{ display_name }}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="my_profile/">Mój profil</a>
            </li>
            <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{% url 'create_team' %}">Stwórz zespół</a>
            </li>
            <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link" href="{{ logout_url }}">Wyloguj się</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a id="sign-up-link" class="nav-link" href="{{ signup_url }}">Zarejestruj się</a>
            </li>
            <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="{{ login_url }}">Zaloguj się</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <section class="flex items-center justify-center h-screen">
        <h1 class="text-5xl">co to jest na mecie?</h1>
    </section>
    </div> -->

</body>

</html>